@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: ; */
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #9e2a53;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: background-color 0.3s ease;
  font-size: 26px;
}

.back-to-top:hover {
  background-color: #9e2a53;
  cursor: pointer;
  /* font-size: 24px; */
}
.product-rating {
  color: rgb(60, 181, 0);
  background: rgb(221, 243, 221);
  display: inline;
  padding: 4px;
  font-size: 12px;
}

.card-img-top {
  height: 180px;
  object-fit: cover;
}
.product-info {
  display: flex;
  align-items: center;
  border-top: 0.5px solid #807d7d60;
  padding: 10px 15px;
}

.product-price {
  margin-right: 5px;
  color: #9e2a53;
  font-weight: bold;
}

.product-off-price {
  text-decoration: line-through;
  margin-right: 10px;
}

.product-discount-box {
  background-color: #369d00;
  color: #fff;
  padding: 2px;
}

.product-add-to-cart {
  margin-left: auto;
  font-size: 12px;
  padding: 5px 20px;
  font-weight: 600;
  position: relative;
  border: 1px solid rgb(73, 69, 190);
  box-shadow: none;
  border-radius: 4px;
  transform: scale(1);
  transition: all 0.2s ease-in-out 0s;
  text-align: center;
  flex-shrink: 0;
  color: rgb(73, 69, 190);
  background-color: transparent;
  padding: 4px 18px 5px;
  font-size: 0.6rem !important;
  -webkit-box-align: center !important;
  align-items: center !important;
}

.buy-now-button {
  background-color: #9e2a53;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 45%;
}

.add-to-cart-button {
  color: #9e2a53;
  border: #9e2a53 solid 1px;
  text-align: center;
  padding: 10px;
  width: 45%;
}

.buy-now-button:hover {
  cursor: pointer;
}

.add-to-cart-button:hover {
  cursor: pointer;
}

.col-md-6 a {
  color: #000;
}

.col-md-6 a:hover {
  color: #000;
}
